@import 'tailwindcss' prefix(tw);
@import 'vxe-pc-ui/es/style.css';
@import 'vxe-table/es/style.css';
@import './vxe-ui/menu.scss';
/* 基本样式 */
* {
  box-sizing: border-box;
  outline: none !important;
}

html,
body,
#app {
  margin: 0;
  padding: 0;
  width: 100%;
  min-width: 876px;
  height: 100%;
  font-family:
    Helvetica Neue,
    Helvetica,
    PingFang SC,
    Hiragino Sans GB,
    Microsoft YaHei,
    SimSun,
    sans-serif;
  font-weight: 400;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  font-size: var(--vxe-ui-font-size-default);
}
